<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Druity | Control Center</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet" />
    <link href="~/Content/dist-assets/css/themes/lite-purple.min.css" rel="stylesheet" />
    <link href="~/Content/dist-assets/css/plugins/perfect-scrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/dist-assets/fonts/iconsmind/iconsmind.css" rel="stylesheet" />
</head>

<body class="text-left">
    <div class="app-admin-wrap layout-sidebar-large">
            <div class="main-content">
                @Html.Partial("_Header")
                @Html.Partial("_LeftSidebar")
                @RenderBody()
                @Html.Partial("_Footer")
            </div>
        </div>

        <script src="~/Content/dist-assets/js/plugins/jquery-3.3.1.min.js"></script>
        <script src="~/Content/dist-assets/js/plugins/bootstrap.bundle.min.js"></script>
        <script src="~/Content/dist-assets/js/plugins/perfect-scrollbar.min.js"></script>
        <script src="~/Content/dist-assets/js/scripts/script.min.js"></script>
        <script src="~/Content/dist-assets/js/scripts/sidebar.large.script.min.js"></script>
        <script src="~/Content/dist-assets/js/plugins/echarts.min.js"></script>
        <script src="~/Content/dist-assets/js/scripts/echart.options.min.js"></script>
        <script src="~/Content/dist-assets/js/scripts/dashboard.v1.script.min.js"></script>
        <script src="~/Content/dist-assets/js/scripts/customizer.script.min.js"></script>

</body>
</html>
