@{ 
    int MobilePhones = 33;
    int electronics = 18;
    int dryfruits = 28;
}

<div class="intro-slider-container mb-5">
    <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
         data-owl-options='{
                        "dots": true,
                        "nav": false,
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
        <div class="intro-slide" style="background-image: url(/Content/assets/images/demos/demo-4/slider/slide-1.jpg);">
            <div class="container intro-content">
                <div class="row justify-content-end">
                    <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                        <h3 class="intro-subtitle text-third">Accessories upto 70% off</h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">Get Smartwatch</h1>
                        <h1 class="intro-title">at 26% off<!-- End .intro-title -->
                        <div class="intro-price">
                            <sup class="intro-old-price">Rs. 3,500</sup>
                            <span class="text-third">
                                Rs. 2,599@*<sup>30% Off</sup>*@
                            </span>
                        </div><!-- End .intro-price -->
                        <a href="~/product/detail/49" class="btn btn-primary btn-round">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div><!-- End .col-lg-11 offset-lg-1 -->
                </div><!-- End .row -->
            </div><!-- End .intro-content -->
        </div><!-- End .intro-slide -->
        <div class="intro-slide" style="background-image: url(/Content/assets/images/demos/demo-4/slider/slide-2.jpg);">
            <div class="container intro-content">
                <div class="row justify-content-end">
                    <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                        <h3 class="intro-subtitle text-primary">Hi Ladies!</h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">Skin Care<br>Original Products</h1><!-- End .intro-title -->
                        <div class="intro-price">
                            <sup>Upto</sup>
                            <span class="text-primary">
                                20%<sup>off</sup>
                            </span>
                        </div><!-- End .intro-price -->
                        <a href="~/product/shop?category=48&&main=true" class="btn btn-primary btn-round">
                            <span>Shop More</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div><!-- End .col-md-6 offset-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .intro-content -->
        </div><!-- End .intro-slide -->
    </div><!-- End .intro-slider owl-carousel owl-simple -->
    <span class="slider-loader"></span><!-- End .slider-loader -->
</div>
