@model List<OnlineShop.Models.Product>

@{ var featuredProducts = Model.Where(x => x.ProductStock.Any(y => y.IsFeatured)).ToList();
    var onSaleProducts = Model.Where(x => x.ProductStock.Any(y => y.OnSale)).ToList();
    var topRatedProducts = Model.Where(x => x.ProductStock.Any(y => y.TopRated)).ToList(); }
<div class="container">
    <div class="page-header text-center" style="background-image: url('/Content/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Featured <span>Products</span></h1>
    </div>
</div>

<div class="entry-container" style="position: relative; height: 1139.99px;">
    <div class="entry-item lifestyle shopping col-sm-6 col-lg-4" style="position: absolute; left: 0px; top: 0px;">
        <article class="entry entry-mask">
            <figure class="entry-media">
                <a href="single.html">
                    <img src="~/Content/assets/images/blog/mask/masonry/post-1.jpg" alt="image desc">
                </a>
            </figure><!-- End .entry-media -->

            <div class="entry-body">
                <div class="entry-meta">
                    <a href="#">Nov 22, 2018</a>
                    <span class="meta-separator">|</span>
                    <a href="#">2 Comments</a>
                </div><!-- End .entry-meta -->

                <h2 class="entry-title">
                    <a href="single.html">Cras ornare tristique elit.</a>
                </h2><!-- End .entry-title -->

                <div class="entry-cats">
                    in <a href="#">Lifestyle</a>,
                    <a href="#">Shopping</a>
                </div><!-- End .entry-cats -->
            </div><!-- End .entry-body -->
        </article><!-- End .entry -->
    </div><!-- End .entry-item -->

    <div class="entry-item hobbies col-sm-6 col-lg-4" style="position: absolute; left: 395.993px; top: 0px;">
        <article class="entry entry-mask">
            <figure class="entry-media">
                <a href="single.html">
                    <img src="~/Content/assets/images/blog/mask/masonry/post-2.jpg" alt="image desc">
                </a>
            </figure><!-- End .entry-media -->

            <div class="entry-body">
                <div class="entry-meta">
                    <a href="#">Nov 10, 2018</a>
                    <span class="meta-separator">|</span>
                    <a href="#">4 Comments</a>
                </div><!-- End .entry-meta -->

                <h2 class="entry-title">
                    <a href="single.html">Aenean dignissim pellente squefelis.</a>
                </h2><!-- End .entry-title -->

                <div class="entry-cats">
                    in <a href="#">Hobbies</a>
                </div><!-- End .entry-cats -->
            </div><!-- End .entry-body -->
        </article><!-- End .entry -->
    </div><!-- End .entry-item -->

    <div class="entry-item lifestyle fashion col-sm-6 col-lg-4" style="position: absolute; left: 791.986px; top: 0px;">
        <article class="entry entry-mask">
            <figure class="entry-media entry-gallery">
                <a href="single.html">
                    <img src="~/Content/assets/images/blog/mask/masonry/post-3.jpg" alt="image desc">
                </a>
            </figure><!-- End .entry-media -->

            <div class="entry-body">
                <div class="entry-meta">
                    <a href="#">Nov 18, 2018</a>
                    <span class="meta-separator">|</span>
                    <a href="#">3 Comments</a>
                </div><!-- End .entry-meta -->

                <h2 class="entry-title">
                    <a href="single.html">Utaliquam sollicitudin leo.</a>
                </h2><!-- End .entry-title -->

                <div class="entry-cats">
                    in <a href="#">Fashion</a>,
                    <a href="#">Lifestyle</a>
                </div><!-- End .entry-cats -->
            </div><!-- End .entry-body -->
        </article><!-- End .entry -->
    </div><!-- End .entry-item -->

    <div class="entry-item travel col-sm-6 col-lg-4" style="position: absolute; left: 0px; top: 269.994px;">
        <article class="entry entry-mask">
            <figure class="entry-media entry-video">
                <a href="single.html">
                    <img src="~/Content/assets/images/blog/mask/masonry/post-4.jpg" alt="image desc">
                </a>
            </figure><!-- End .entry-media -->

            <div class="entry-body">
                <div class="entry-meta">
                    <a href="#">Nov 15, 2018</a>
                    <span class="meta-separator">|</span>
                    <a href="#">4 Comments</a>
                </div><!-- End .entry-meta -->

                <h2 class="entry-title">
                    <a href="single.html">Vivamus vestibulum ntulla necante.</a>
                </h2><!-- End .entry-title -->

                <div class="entry-cats">
                    in <a href="#">Travel</a>
                </div><!-- End .entry-cats -->
            </div><!-- End .entry-body -->
        </article><!-- End .entry -->
    </div><!-- End .entry-item -->

    <div class="entry-item travel hobbies col-sm-6 col-lg-4" style="position: absolute; left: 791.986px; top: 269.994px;">
        <article class="entry entry-mask">
            <figure class="entry-media">
                <a href="single.html">
                    <img src="~/Content/assets/images/blog/mask/masonry/post-5.jpg" alt="image desc">
                </a>
            </figure><!-- End .entry-media -->

            <div class="entry-body">
                <div class="entry-meta">
                    <a href="#">Nov 11, 2018</a>
                    <span class="meta-separator">|</span>
                    <a href="#">2 Comments</a>
                </div><!-- End .entry-meta -->

                <h2 class="entry-title">
                    <a href="single.html">Quisque volutpat mattiseros.</a>
                </h2><!-- End .entry-title -->

                <div class="entry-cats">
                    in <a href="#">Travel</a>,
                    <a href="#">Hobbies</a>
                </div><!-- End .entry-cats -->
            </div><!-- End .entry-body -->
        </article><!-- End .entry -->
    </div><!-- End .entry-item -->

    <div class="entry-item lifestyle col-sm-6 col-lg-4" style="position: absolute; left: 395.993px; top: 359.991px;">
        <article class="entry entry-mask">
            <figure class="entry-media">
                <a href="single.html">
                    <img src="~/Content/assets/images/blog/mask/masonry/post-6.jpg" alt="image desc">
                </a>
            </figure><!-- End .entry-media -->

            <div class="entry-body">
                <div class="entry-meta">
                    <a href="#">Nov 21, 2018</a>
                    <span class="meta-separator">|</span>
                    <a href="#">0 Comments</a>
                </div><!-- End .entry-meta -->

                <h2 class="entry-title">
                    <a href="single.html">Fusce lacinia arcu etnulla.</a>
                </h2><!-- End .entry-title -->

                <div class="entry-cats">
                    in <a href="#">Lifestyle</a>
                </div><!-- End .entry-cats -->
            </div><!-- End .entry-body -->
        </article><!-- End .entry -->
    </div><!-- End .entry-item -->

    <div class="entry-item travel col-sm-6 col-lg-4" style="position: absolute; left: 0px; top: 539.988px;">
        <article class="entry entry-mask">
            <figure class="entry-media">
                <a href="single.html">
                    <img src="~/Content/assets/images/blog/mask/masonry/post-7.jpg" alt="image desc">
                </a>
            </figure><!-- End .entry-media -->

            <div class="entry-body">
                <div class="entry-meta">
                    <a href="#">Nov 11, 2018</a>
                    <span class="meta-separator">|</span>
                    <a href="#">3 Comments</a>
                </div><!-- End .entry-meta -->

                <h2 class="entry-title">
                    <a href="single.html">Quisque a lectus. </a>
                </h2><!-- End .entry-title -->

                <div class="entry-cats">
                    in <a href="#">Travel</a>
                </div><!-- End .entry-cats -->
            </div><!-- End .entry-body -->
        </article><!-- End .entry -->
    </div><!-- End .entry-item -->

    <div class="entry-item travel col-sm-6 col-lg-4" style="position: absolute; left: 791.986px; top: 749.99px;">
        <article class="entry entry-mask">
            <figure class="entry-media entry-gallery">
                <a href="single.html">
                    <img src="~/Content/assets/images/blog/mask/masonry/post-9.jpg" alt="image desc">
                </a>
            </figure><!-- End .entry-media -->

            <div class="entry-body">
                <div class="entry-meta">
                    <a href="#">Nov 07, 2018</a>
                    <span class="meta-separator">|</span>
                    <a href="#">5 Comments</a>
                </div><!-- End .entry-meta -->

                <h2 class="entry-title">
                    <a href="single.html">Utaliquam sollicitudin leo.</a>
                </h2><!-- End .entry-title -->

                <div class="entry-cats">
                    in <a href="#">Travel</a>
                </div><!-- End .entry-cats -->
            </div><!-- End .entry-body -->
        </article><!-- End .entry -->
    </div><!-- End .entry-item -->

    <div class="entry-item fashion col-sm-6 col-lg-4" style="position: absolute; left: 395.993px; top: 869.993px;">
        <article class="entry entry-mask">
            <figure class="entry-media">
                <a href="single.html">
                    <img src="~/Content/assets/images/blog/mask/masonry/post-8.jpg" alt="image desc">
                </a>
            </figure><!-- End .entry-media -->

            <div class="entry-body">
                <div class="entry-meta">
                    <a href="#">Nov 08, 2018</a>
                    <span class="meta-separator">|</span>
                    <a href="#">0 Comments</a>
                </div><!-- End .entry-meta -->

                <h2 class="entry-title">
                    <a href="single.html">Fusce pellentesque suscipit.</a>
                </h2><!-- End .entry-title -->

                <div class="entry-cats">
                    in <a href="#">Fashion</a>
                </div><!-- End .entry-cats -->
            </div><!-- End .entry-body -->
        </article><!-- End .entry -->
    </div><!-- End .entry-item -->
</div>
    </div>