@{ 
    int MobilePhones = 33;
    int electronics = 18;
    int dryfruits = 28;
}

<div class="intro-slider-container mb-5">
    <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
         data-owl-options='{
                        "dots": true,
                        "nav": false,
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
        <div class="intro-slide" style="background-image: url(/Content/Icons/slide-1.jpg);">
            <div class="container intro-content">
                <div class="row justify-content-end">
                    <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                        <h3 class="intro-subtitle text-third" style="color:white">Druity's</h3>
                        <h1 class="intro-title" style="color:black">SERVING SMALL RETAILERS ACROSS</h1>
                        <h1 class="intro-title" style="color:black">Lahore</h1>
                       <br />
                        <a href="~/product/shop?category=20" class="btn btn-primary btn-round">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- End .intro-slide -->
        <div class="intro-slide" style="background-image: url(/Content/assets/images/demos/demo-4/slider/slide-2.jpg);">
            <!--<div class="container intro-content">
                <div class="row justify-content-end">
                    <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                        <h3 class="intro-subtitle text-primary"></h3> 
                        <h1 class="intro-title" style="color:white">Smart Home</h1>
                        <div class="intro-price">
                            <sup>Upto</sup>
                            <span class="text-primary" style="color:white">
                                50%<sup>off</sup>
                            </span>
                        </div> 
                    <a href="~/product/shop?category=54&&main=true" class="btn btn-primary btn-round">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div> 
                </div>--><!-- End .row -->
            <!--</div>--><!-- End .intro-content -->
        </div><!-- End .intro-slide -->
    </div><!-- End .intro-slider owl-carousel owl-simple -->
    <span class="slider-loader"></span><!-- End .slider-loader -->
</div>
