<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="banner banner-overlay banner-overlay-light">
                <a href="#">
                    <img src="~/Content/assets/images/demos/demo-4/banners/banner-1.jpg" alt="Banner">
                </a>
                <div class="banner-content">
                    <h4 class="banner-subtitle"><a href="#">Smart Offer</a></h4><!-- End .banner-subtitle -->
                    <h3 class="banner-title"><a href="#">PTA Approved <strong>Iphone SE 2020<br>at Rs. 92,999</strong></a></h3><!-- End .banner-title -->
                    <a href="~/product/detail/62" class="banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-6 col-lg-4">
            <div class="banner banner-overlay banner-overlay-light">
                <a href="#">
                    <img src="~/Content/assets/images/demos/demo-4/banners/banner-2.jpg" alt="Banner">
                </a>
                <div class="banner-content">
                    <h4 class="banner-subtitle"><a href="#">Time Deals</a></h4><!-- End .banner-subtitle -->
                    <h3 class="banner-title"><a href="#"><strong>Watches (Men)</strong> <br>Starting from Rs. 1,300</a></h3><!-- End .banner-title -->
                    <a href="~/product/detail/34" class="banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-md-4 -->
        <div class="col-md-6 col-lg-4">
            <div class="banner banner-overlay banner-overlay-light">
                <a href="#">
                    <img src="~/Content/assets/images/demos/demo-4/banners/banner-3.jpg" alt="Banner">
                </a>
                <div class="banner-content">
                    <h4 class="banner-subtitle"><a href="#">Smart Offer</a></h4><!-- End .banner-subtitle -->
                    <h3 class="banner-title"><a href="#"><strong>Pure Leather Laptop Bag</strong> <br>Save Rs 3,500</a></h3><!-- End .banner-title -->
                    <a href="~/product/detail/39" class="banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-lg-4 -->
    </div><!-- End .row -->
</div>
<div class="mb-3"></div>
