<div class="container">
    <div class="heading text-center mb-3">
        <h2 class="title">Deals & Outlet</h2>
        @*<p class="title-desc">Today’s deal and more</p>*@
    </div><!-- End .heading -->
    <div class="row">
        <div class="col-lg-6 deal-col">
            <div class="deal" style="background-image: url('/Content/assets/images/demos/demo-4/deal/bg-1.png');">
                <div class="deal-top">
                    <h2>Deal of the Week.</h2>
                    <h4>Limited Stock. </h4>
                </div><!-- End .deal-top -->
                <div class="deal-content">
                    <h3 class="product-title"><a href="product.html">Airpods 2 (A+) with  Pure Leather Case</a></h3><!-- End .product-title -->
                    <div class="product-price">
                        <span class="new-price">Rs. 2,499</span>
                        @*<span class="old-price">Was $150.99</span>*@
                    </div><!-- End .product-price -->
                    <a href="~/product/detail/189" class="btn btn-link"><span>Shop Now</span><i class="icon-long-arrow-right"></i></a>
                </div><!-- End .deal-content -->
                <div class="deal-bottom">
                    <div class="deal-countdown offer-countdown" data-until="+7d"></div><!-- End .deal-countdown -->
                </div><!-- End .deal-bottom -->
            </div><!-- End .deal -->
        </div><!-- End .col-lg-6 -->
        <div class="col-lg-6 deal-col">
            <div class="deal" style="background-image: url('/Content/assets/images/demos/demo-4/deal/bg-2.jpg');">
                <div class="deal-top">
                    <h2>Deal of the Week</h2>
                    <h4>Limited Stock</h4>
                </div><!-- End .deal-top -->
                <div class="deal-content">
                    <h3 class="product-title"><a href="product.html">Tripod Stand with Ring Light</a></h3><!-- End .product-title -->
                    <div class="product-price">
                        <span class="new-price">Rs. 2,199</span>
                    </div><!-- End .product-price -->
                    <a href="~/product/detail/190" class="btn btn-link"><span>Shop Now</span><i class="icon-long-arrow-right"></i></a>
                </div><!-- End .deal-content -->
                <div class="deal-bottom">
                    <div class="deal-countdown offer-countdown" data-until="+7d"></div><!-- End .deal-countdown -->
                </div><!-- End .deal-bottom -->
            </div><!-- End .deal -->
        </div><!-- End .col-lg-6 -->
    </div><!-- End .row -->
</div>
