@{
    int Leather = 23;
    int Samsung = 35;
    int Apple = 34;
    int Accessories = 18;
    int SmartWatches = 32;
}
<div class="container">
    <h2 class="title text-center mb-4">Explore Popular Categories</h2><!-- End .title text-center -->

    <div class="cat-blocks-container">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="~/product/shop?category=29" class="cat-block">
                    <figure>
                        <span>
                            <img src="~/Content/assets/images/demos/demo-4/cats/alomnd.png" alt="Category image">
                        </span>
                    </figure>
                    <h3 class="cat-block-title">Dry Fruits</h3><!-- End .cat-block-title -->
                </a>
            </div><!-- End .col-sm-4 col-lg-2 -->
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="~/product/shop?category=@Leather&&main=true" class="cat-block">
                    <figure>
                        <span>
                            <img src="/Content/assets/images/demos/demo-4/cats/2.png" alt="Category image">
                        </span>
                    </figure>
                    <h3 class="cat-block-title">Leather</h3><!-- End .cat-block-title -->
                </a>
            </div><!-- End .col-sm-4 col-lg-2 -->
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="~/product/shop?category=@Apple" class="cat-block">
                    <figure>
                        <span>
                            <img src="/Content/assets/images/demos/demo-4/cats/3.png" alt="Category image">
                        </span>
                    </figure>
                    <h3 class="cat-block-title">Apple</h3><!-- End .cat-block-title -->
                </a>
            </div><!-- End .col-sm-4 col-lg-2 -->
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="~/product/shop?category=@Samsung" class="cat-block">
                    <figure>
                        <span>
                            <img src="/Content/assets/images/demos/demo-4/cats/4.png" alt="Category image">
                        </span>
                    </figure>
                    <h3 class="cat-block-title">Samsung</h3><!-- End .cat-block-title -->
                </a>
            </div><!-- End .col-sm-4 col-lg-2 -->
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="~/product/shop?category=@SmartWatches" class="cat-block">
                    <figure>
                        <span>
                            <img src="/Content/assets/images/demos/demo-4/cats/5.png" alt="Category image">
                        </span>
                    </figure>
                    <h3 class="cat-block-title">Smartwatch</h3><!-- End .cat-block-title -->
                </a>
            </div><!-- End .col-sm-4 col-lg-2 -->
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="~/product/shop?category=@Accessories&&main=true" class="cat-block">
                    <figure>
                        <span>
                            <img src="/Content/assets/images/demos/demo-4/cats/6.png" alt="Category image">
                        </span>
                    </figure>
                    <h3 class="cat-block-title">Accessories</h3><!-- End .cat-block-title -->
                </a>
            </div><!-- End .col-sm-4 col-lg-2 -->
        </div><!-- End .row -->
    </div><!-- End .cat-blocks-container -->
</div>
<div class="mb-4"></div>
