@{
    int Gadgets = 1002;
    int Chargers = 1009;
    int Wireless = 1008;
    int DataCables = 1004;
    int Handsfree = 1007;
    int PowerBanks = 1005;
}
<div class="container">
    <h2 class="title text-center mb-4">Explore Popular Categories</h2><!-- End .title text-center -->

    <div class="cat-blocks-container">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="~/product/shop?category=@PowerBanks" class="cat-block">
                    <figure>
                        <span>
                            <img src="~/Content/Categories/1.png" alt="Category image">
                        </span>
                    </figure>
                    <h3 class="cat-block-title">Power Banks</h3><!-- End .cat-block-title -->
                </a>
            </div><!-- End .col-sm-4 col-lg-2 -->
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="~/product/shop?category=@Gadgets&&main=true" class="cat-block">
                    <figure>
                        <span>
                            <img src="/Content/Categories/2.png" alt="Category image">
                        </span>
                    </figure>
                    <h3 class="cat-block-title">Gadgets</h3><!-- End .cat-block-title -->
                </a>
            </div><!-- End .col-sm-4 col-lg-2 -->
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="~/product/shop?category=@Wireless" class="cat-block">
                    <figure>
                        <span>
                            <img src="/Content/Categories/3.png" alt="Category image">
                        </span>
                    </figure>
                    <h3 class="cat-block-title">Wireless</h3><!-- End .cat-block-title -->
                </a>
            </div><!-- End .col-sm-4 col-lg-2 -->
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="~/product/shop?category=@Chargers" class="cat-block">
                    <figure>
                        <span>
                            <img src="/Content/Categories/4.png" alt="Category image">
                        </span>
                    </figure>
                    <h3 class="cat-block-title">Chargers</h3><!-- End .cat-block-title -->
                </a>
            </div><!-- End .col-sm-4 col-lg-2 -->
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="~/product/shop?category=@Handsfree" class="cat-block">
                    <figure>
                        <span>
                            <img src="~/Content/Categories/6.png" alt="Category image">
                        </span>
                    </figure>
                    <h3 class="cat-block-title">Handsfree</h3><!-- End .cat-block-title -->
                </a>
            </div><!-- End .col-sm-4 col-lg-2 -->
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="~/product/shop?category=@DataCables" class="cat-block">
                    <figure>
                        <span>
                            <img src="~/Content/Categories/5.png" alt="Category image">
                        </span>
                    </figure>
                    <h3 class="cat-block-title">Data Cables</h3><!-- End .cat-block-title -->
                </a>
            </div><!-- End .col-sm-4 col-lg-2 -->
        </div><!-- End .row -->
    </div><!-- End .cat-blocks-container -->
</div>
<div class="mb-4"></div>
