@model OnlineShop.Models.LandingPage

<main class="main">

    <!-- Carousal Banners Starts Here -->
    @Html.Partial("~/Views/Home/_CarousalBanners.cshtml")

    <!-- Popular Categories Starts Here -->
    @Html.Partial("~/Views/Home/_PopularCategories.cshtml")

    <!-- Deal Banners Start Here -->
    @*@Html.Partial("~/Views/Home/_DealBanners.cshtml")*@

    <!-- New Arrivals Start Here -->
    @*@Html.Partial("~/Views/Home/_NewArrivals.cshtml")*@

    <!-- Promotional Product -->
    @*@Html.Partial("~/Views/Home/_PromotionalProduct.cshtml")*@

    <!-- Limited Time Deals -->
    @*@Html.Partial("~/Views/Home/_LimitedTimeDeals.cshtml")*@

    <!-- Brand Logos -->
    @*@Html.Partial("~/Views/Home/_BrandLogos.cshtml")*@

    <!-- Trending Products -->
    @Html.Partial("~/Views/Home/_TrendingProducts.cshtml", Model)

    <!-- Recommended Products -->
    @*@Html.Partial("~/Views/Home/_RecommendedProducts.cshtml", Model)*@

    <!-- Services TAG Starts Here -->
    @Html.Partial("~/Views/Home/_ServicesTag.cshtml")


    @*@Html.Partial("~/Views/Home/_Products.cshtml", Model.products.Products)*@

    @*@Html.Partial("~/Views/Home/_TopSellingProduct.cshtml", Model)*@

    <!-- Popup Screen Starts Here -->
    @*@Html.Partial("~/Views/Home/_PopupScreen.cshtml")*@

    <div class="container">
        <hr class="mt-1 mb-6">
    </div>

</main>



