
<footer class="footer">

    <!-- NewsLetter Section Starts Here -->
    <div class="cta bg-image bg-dark pt-4 pb-5 mb-0" style="background-image: url(/Content/assets/images/demos/demo-4/bg-5.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <div class="cta-heading text-center">
                        <h3 class="cta-title text-white">Get The Latest Deals</h3>
                        <p class="cta-desc text-white">and receive <span class="font-weight-normal">Weekly</span>Newsletters</p>
                    </div>
                    <form action="#">
                        <div class="input-group input-group-round">
                            <input type="email" class="form-control form-control-white" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- NewsLetter Section Ends Here -->

    <div class="footer-middle">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="~/Content/Icons/logonew.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p>Druity is an eCommerce company that provides high quality products at your doorsteps.</p>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/Druity.com.pk" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                            <a href="https://www.instagram.com/druity.com.pk/" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4>
                        <ul class="widget-list">
                            <li><a href="~/home/about">About Druity</a></li>
                            <li><a href="~/home/faqs">FAQ</a></li>
                            <li><a href="~/home/contact">Contact us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4>
                        <ul class="widget-list">
                            <li><a href="~/home/faqs">Payment Methods</a></li>
                            <li><a href="~/home/faqs">Money-back guarantee!</a></li>
                            <li><a href="~/home/faqs">Returns</a></li>
                            <li><a href="~/home/faqs">Shipping</a></li>
                            <li><a href="~/home/faqs">Terms and conditions</a></li>
                            <li><a href="~/home/faqs">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4>
                        <ul class="widget-list">
                            <li><a href="~/account/signin">Sign In</a></li>
                            <li><a href="#">Track My Order</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2021 Druity Store. All Rights Reserved.</p><!-- End .footer-copyright -->
            @*<figure class="footer-payments">
                <img src="/Content/assets/images/payments.png" alt="Payment methods" width="272" height="20">
            </figure>*@
        </div>
    </div>

</footer>

<button id="scroll-top" title="Back to Top">
    <i class="icon-arrow-up">
    </i>
</button>