<aside class="col-md-2">
    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">

        <li class="nav-item">
            <a class="nav-link" href="~/order/purchasehistory" role="tab">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="tab">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/account/userinfo" role="tab">Account Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/account/changepassword" role="tab">Change Password</a>
        </li>
    </ul>
</aside>

