@model ControlCenter.Models.Product
@{
    ViewBag.Title = "EditStockByProductId";
}

<div class="main-content-wrap sidenav-open d-flex flex-column">
    <div class="main-content">
        <div class="breadcrumb">
            <h1 class="mr-2">Edit Stock</h1>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-title mb-3">Edit Product @Model.Name</div>
                        <form action="~/product/UpdateStock" method="post">
                            <div class="row">

                                <div class="col-md-6 form-group mb-3">
                                    <label for="CurrentPrice">Current Price</label>
                                    <input type="text" name="CurrentPrice" class="form-control">
                                </div>

                                <div class="col-md-6 form-group mb-3">
                                    <label for="OldPrice">Old Price</label>
                                    <input type="text" name="OldPrice" class="form-control"placeholder="If mandatory then add otherwise ignore..">
                                </div>

                                <div class="col-md-6 form-group mb-3">
                                    <label for="StockCount">Stock Count</label>
                                    <input type="number" name="StockCount" class="form-control">
                                </div>

                                <input type="number" name="ProductId" value="@Model.productId" hidden />

                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

