@model ControlCenter.Models.Product
@{
    ViewBag.Title = "EditProduct";
}

<h2>EditProduct</h2>
<div class="main-content-wrap sidenav-open d-flex flex-column">
    <div class="main-content">
        <div class="breadcrumb">
            <h1 class="mr-2">Edit Product</h1>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-title mb-3">Edit Product</div>
                        <form action="~/product/EditProduct" method="post">
                            <div class="row">
                                <input type="text" name="productId" hidden value="@Model.productId" />
                                <div class="col-md-6 form-group mb-3">
                                    <label for="name">Name</label>
                                    <input type="text" name="Name" value="@Model.Name" class="form-control">
                                </div>

                                <div class="col-md-6 form-group mb-3">
                                    <label for="name">Short Description</label>
                                    <input type="text" name="shortDescription" value="@Model.ShortDescription" class="form-control">
                                </div>

                                <div class="col-md-6 form-group mb-3">
                                    <label for="name">Detail</label>
                                    <input class="form-control" name="Detail" value="@Model.Detail" >
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
