@model List<OnlineShop.Models.MiniCartModel>

@{
    decimal Total = 0;
    foreach (var item in Model)
    {
        Total += item.Price * item.Quantity;
    }
}
@if (Model.Any())
{
    <table class="table table-summary">
        <thead>
            <tr>
                <th>Product</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td><a href="#">@item.ProductName</a></td>
                <td>@item.CurrencySymbol@(item.Quantity * item.Price)</td>
            </tr>
            }
            <tr class="summary-total">
                <td>Total:</td>
                <td>@Model.FirstOrDefault().CurrencySymbol@Total</td>
            </tr>

        </tbody>
    </table>
    <a href="~/order/PlaceOrder" class="btn btn-outline-primary-2 btn-order btn-block">
        <span class="btn-text">Place Order</span>
        <span class="btn-hover-text">Proceed to Checkout</span>
    </a>
}
