@model OnlineShop.Models.GuestUser
<main class="main">
    <div class="page-header text-center" style="background-image: url('/Content/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <form action="~/order/PlaceOrderforGuest" method="post">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>First Name *</label>
                                    <input type="text" class="form-control" name="FirstName" required="">
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Last Name *</label>
                                    <input type="text" class="form-control" name="LastName" required="">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <label>Street address *</label>
                            <input type="text" name="Address" class="form-control" placeholder="House number and Street name" required="">
                            <input type="text" name="Street" class="form-control" placeholder="Appartments, suite, unit etc ..." required="">

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>City *</label>
                                    <input type="text" name="City" class="form-control" required="">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Phone *</label>
                                    <input type="tel" name="PhoneNo" class="form-control" required="">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <label>Email address *</label>
                            <input type="email" name="EmailAddress" class="form-control" required="">

                            <label>Password (Your account on Druity will be created)*</label>
                            <input type="password" name="Password" class="form-control" required="">

                        </div>
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3>
                                <div id="PlaceOrderGuest">
                                    @Html.Partial("~/Views/Order/_PlaceOrderForGuest.cshtml", new List<OnlineShop.Models.MiniCartModel>())
                                </div>
                               <button class="btn btn-outline-primary-2 btn-order btn-block" type="submit">Place Order</button>
                            </div>
                        </aside>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "Get",
            url: "/shoppingcart/GetItemsPlaceGuestOrder",
            success: function (data) {
                $('#PlaceOrderGuest').html(data);
            }
        })
    });
    fbq('track', 'InitiateCheckout');
</script>


